
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', sans-serif;
}
body {
background: #0d1117;
color: #e6edf3;
padding: 40px;
}

.perfil {
display: flex;
align-items: center;
gap: 25px;
margin-bottom: 40px;
}

.avatar {
width: 140px;
border-radius: 50%;
border: 4px solid #30363d;
}

.contenedor {
display: grid;
grid-template-columns: 3fr 1fr;
gap: 30px;
}

.repos h2,
.comunidad h2 {
margin-bottom: 20px;
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 20px;
}

.card {
background: #161b22;
padding: 20px;
border-radius: 12px;
transition: 0.3s ease;
border: 1px solid #30363d;
}

.card:hover {
transform: translateY(-5px);
border-color: #58a6ff;
}

.card a {
color: #58a6ff;
text-decoration: none;
font-weight: bold;
}

.card p {
margin-top: 10px;
font-size: 14px;
color: #8b949e;
}

.followers {
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.followers img {
width: 50px;
border-radius: 50%;
border: 2px solid #30363d;
transition: 0.3s;
}

.followers img:hover {
border-color: #58a6ff;
transform: scale(1.1);
}
.follower-item {
display: flex;
align-items: center;
gap: 10px;
background: #161b22;
padding: 8px 12px;
border-radius: 8px;
border: 1px solid #30363d;
transition: 0.3s;
}

.follower-item:hover {
border-color: #58a6ff;
}

.follower-item a {
color: #58a6ff;
text-decoration: none;
font-size: 14px;
font-weight: 500;
}

.follower-item img {
width: 45px;
border-radius: 50%;
border: 2px solid #30363d;
}
